# Compilados de Java
*.class

# Directorios de construcción de NetBeans
/build/
/dist/
/nbbuild/
/nball/
/nbdist/
/.nb-gradle/

# Configuración privada del proyecto (no es necesaria en Git)
/nbproject/private/

# Archivos temporales y logs
*.log
*.tmp

# Archivos del sistema (según SO)
/.DS_Store
/Thumbs.db
